In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
67,tt3530002,25000000,52395996,The Night Before,Joseph Gordon-Levitt|Seth Rogen|Anthony Mackie...,Jonathan Levine,"Their past, present and future. All in one night.",In New York City for their annual tradition of...,100,Comedy,Sony Pictures|Point Grey Pictures|Good Universe,11/20/2015,6.1,2015
787,tt1093357,30000000,64626786,The Darkest Hour,Emile Hirsch|Rachael Taylor|Olivia Thirlby|Joe...,Chris Gorak,Survive The Holidays,The story tells of a group of young people who...,89,Horror|Action|Thriller|Science Fiction,Summit Entertainment|Regency Enterprises|Bazel...,12/25/2011,4.7,2011
237,tt2528814,17000000,29789000,God's Not Dead,Kevin Sorbo|Shane Harper|David A.R. White|Dean...,Harold Cronk,What do you believe?,College philosophy professor Mr. Radisson's cu...,113,Drama,Pure Flix Entertainment,3/21/2014,6.1,2014
1520,tt0463985,85000000,158468292,The Fast and the Furious: Tokyo Drift,Lucas Black|Sung Kang|Brian Tee|Nathalie Kelle...,Justin Lin,"On the streets of Tokyo, speed needs no transl...","In order to avoid a jail sentence, Sean Boswel...",104,Action|Crime|Drama|Thriller,Universal Pictures,6/3/2006,6.1,2006
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009

In [5]:
data.describe() # описываем датасет со статистической точки зрения.

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [96]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = 'Gods and Generals ()'

# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:

data = pd.read_csv('E:/movie_bd_v5.csv')
data[data.budget > data.budget.max()-1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data = pd.read_csv('E:/movie_bd_v5.csv')
data[data.budget == 380000000] # из команды 'data.describe()' нам известен максимальный бюджет равный 3.800000e+08 (380000000)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [100]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [10]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data[data.runtime == 214] # из команды 'data.describe()' нам известна максимальная длительность фильма (= 214)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [99]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data[data.runtime == 63] # из команды 'data.describe()' нам известна минимальная длительность фильма (= 63)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [98]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data.runtime.mean() # вычисляем среднее по столбцу runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [26]:
data = pd.read_csv('E:/movie_bd_v5.csv')
print(data['runtime'].median()) # вычисляем медианное значение по столбцу runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [37]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget) 
data[data.profit > data.profit.max()-1] # выбираем максимальное значение.

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [59]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data.describe() # описываем датасет со статистической точки зрения.

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

In [64]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']  # создаем столбец прибыль (profit = revenue - budget)
data[data.profit > 2500000000] # из команды 'data.describe()' нам известен максимальный бюджет равный 2.544506e+09

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [65]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data[data.profit < -160000000] # из команды 'data.describe()' нам известен максимальный убыток равный -1.657101e+08

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [78]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data[data.profit > 0] # выводим список фильмов с положительной прибылью

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [117]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data_2008 = data[(data.profit > 0) & (data.release_year == 2008)] # создаем датасет содржащий только фильмы 2008 года
data_2008[data_2008.profit > data_2008.profit.max()-1] # выбираем самый прибыльный фильм

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [126]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data_1214 = data[(data.profit < 0) & (data.release_year > 2012) & (data.release_year < 2014)] # создаем датасет содржащий фильмы с 2012 по 2014
data_1214[data_1214.profit < data_1214.profit.min()+1] # выбираем самый убыточный фильм

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [128]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data = pd.read_csv('E:/movie_bd_v5.csv')
s = data['genres'].value_counts() # подсчитывает для каждого значения в серии количество раз, которое это значение встречается
display(s) # выводим на экран

Comedy                                               141
Drama                                                102
Comedy|Romance                                        60
Drama|Romance                                         45
Comedy|Drama|Romance                                  35
                                                    ...
Action|Thriller|Drama                                  1
Horror|Thriller|Comedy                                 1
Horror|Drama|Mystery|Thriller                          1
Fantasy|Adventure|Action|Comedy|Drama                  1
Action|Adventure|Mystery|Science Fiction|Thriller      1
Name: genres, Length: 652, dtype: int64

ВАРИАНТ 2

In [160]:
s = data['genres'].value_counts() # подсчитывает для каждого значения в серии количество раз, которое это значение встречается
s_df = s.reset_index() # переиндексируем сторки
display(s_df) # выводим на экран

                                                 index  genres
0                                               Comedy     141
1                                                Drama     102
2                                       Comedy|Romance      60
3                                        Drama|Romance      45
4                                 Comedy|Drama|Romance      35
..                                                 ...     ...
647                              Action|Thriller|Drama       1
648                             Horror|Thriller|Comedy       1
649                      Horror|Drama|Mystery|Thriller       1
650              Fantasy|Adventure|Action|Comedy|Drama       1
651  Action|Adventure|Mystery|Science Fiction|Thriller       1

[652 rows x 2 columns]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [184]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] # создаем столбец прибыль (profit = revenue - budget)
data_profit = data[data.profit > 0] # создаем датасет только с фильмами принесшими прибыль
s = data_profit['genres'].value_counts() # подсчитывает для каждого значения в серии количество раз, которое это значение встречается
display(s)

Comedy                                               121
Drama                                                 70
Comedy|Romance                                        52
Drama|Romance                                         38
Horror|Thriller                                       31
                                                    ...
Science Fiction|Comedy|Adventure                       1
Thriller|Crime|Drama|Action                            1
Adventure|Action                                       1
Family|Documentary                                     1
Action|Adventure|Mystery|Science Fiction|Thriller      1
Name: genres, Length: 548, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [161]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data.groupby('revenue')['director'].sum() # делаем группировку по столбцу режиссера и суммируем кассовые сборы

revenue
2033165           Simon Hunter
2054941           Keanu Reeves
2062066          Paul Schrader
2106557             Simon West
2281089       Steven Shainberg
                    ...
1506249360           James Wan
1513528810     Colin Trevorrow
1519557910         Joss Whedon
2068178225         J.J. Abrams
2781505847       James Cameron
Name: director, Length: 1885, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [151]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data_action = data[(data.genres.str.contains('Action', na=False))]
s = data['director'].value_counts()
display(s)
# получаем ответ что больше всего фильмов в жанре action снял - Steven Soderbergh, но такого варианта нет!

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Steven Spielberg     10
Shawn Levy           10
                     ..
Xavier Gens           1
Robert B. Weide       1
Doug Ellin            1
Peter Ramsey          1
Pat O'Connor          1
Name: director, Length: 957, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [174]:
data = pd.read_csv('E:/movie_bd_v5.csv')
data_2012 = data[data.release_year == 2012]
data_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False)

# вообще незнаю как приступить к этой и следующим задачам!

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
                                                                                    ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins                 8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton         6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent                  4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist                  3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston                      2106557
Name: revenue, Length: 111, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [182]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'4': '110'}

In [183]:
# и убедиться что ни чего не пропустил)
len(answers)

1